## 1️⃣ tapply() – Apply a function over subsets of a vector (grouped by a factor)

In [2]:
# Example: Calculate average salary by department
employee.df <- data.frame(
  name = c("Alice", "Bob", "Charlie", "David", "Eva", "Frank", "Grace"),
  department = c("HR", "IT", "Finance", "Marketing", "Sales", "IT", "Finance"),
  salary = c(50000, 60000, 55000, 30000, 70000, 65000, 75000)
)

employee.df

  name    department salary
1 Alice   HR         50000
2 Bob     IT         60000
3 Charlie Finance    55000
4 David   Marketing  30000
5 Eva     Sales      70000
6 Frank   IT         65000
7 Grace   Finance    75000

In [4]:
tapply(employee.df$salary, employee.df$department, mean)

  Finance        HR        IT Marketing     Sales
    65000     50000     62500     30000     70000

## 2️⃣ lapply() – Apply a function over a list and return a list

In [15]:
# Example: Calculate square of each number in a vector and return a list
numbers <- c(1, 2, 3, 4, 5)
lapply(numbers, function(x) x^2)

[[1]]
[1] 1

[[2]]
[1] 4

[[3]]
[1] 9

[[4]]
[1] 16

[[5]]
[1] 25

In [19]:
class(lapply(numbers, function(x) x^2))

[1] "list"

## 3️⃣ sapply() – Similar to lapply(), but returns a vector or matrix instead of a list

In [11]:
# Example: Calculate square of each number but return a vector
sapply(numbers, function(x) x^2)

[1]  1  4  9 16 25

In [17]:
class(sapply(numbers, function(x) x^2))

[1] "numeric"

## 4️⃣ vapply() – Similar to sapply(), but requires a predefined output type

In [26]:
# Example: Calculate square of each number with predefined numeric output, returns vector or matrix
numbers <- c(1, 2, 3, 4, 5)

vapply(numbers, function(x) x^2, numeric(1))

[1]  1  4  9 16 25

In [28]:
class(vapply(numbers, function(x) x^2, numeric(1)))

[1] "numeric"

### ✅ Key Differences:

- tapply(): Used for grouped operations on vectors.
- lapply(): Returns a list.
- sapply(): Returns a vector (or matrix if needed).

### ✅ Key Difference Between sapply() and vapply():

- sapply(): Tries to guess the output type (vector, matrix, or list).
- vapply(): More strict, requires a specified output type (numeric(1), character(1), etc.).
Safer than sapply(), as it prevents unexpected output formats.