In [1]:
num <- list(10,11,12,13,14,15)
num

[[1]]
[1] 10

[[2]]
[1] 11

[[3]]
[1] 12

[[4]]
[1] 13

[[5]]
[1] 14

[[6]]
[1] 15

In [3]:
class(num)

[1] "list"

In [5]:
typeof(num)

[1] "list"

In [7]:
print(num)

[[1]]
[1] 10

[[2]]
[1] 11

[[3]]
[1] 12

[[4]]
[1] 13

[[5]]
[1] 14

[[6]]
[1] 15

In [9]:
is.vector(num)

[1] TRUE

In [11]:
student <- list(12345, 'Peter', 'Data Science', TRUE)
student

[[1]]
[1] 12345

[[2]]
[1] "Peter"

[[3]]
[1] "Data Science"

[[4]]
[1] TRUE

In [19]:
student[2]

[[1]]
[1] "Peter"

In [21]:
class(student[2])

[1] "list"

In [23]:
student[[1]]

[1] 12345

In [25]:
student[[2]]

[1] "Peter"

In [27]:
class(student[[2]])

[1] "character"

In [31]:
student[[1:3]]

ERROR: Error in student[[1:3]]: recursive indexing failed at level 2

In [33]:
student[1:3]

[[1]]
[1] 12345

[[2]]
[1] "Peter"

[[3]]
[1] "Data Science"

In [41]:
pranoy <- list(id=12345, name='Pranoy', major='Data Science', university='Amity', enrolled=TRUE)
pranoy

$id
[1] 12345

$name
[1] "Pranoy"

$major
[1] "Data Science"

$university
[1] "Amity"

$enrolled
[1] TRUE

In [43]:
pranoy$id

[1] 12345

In [45]:
pranoy$major

[1] "Data Science"

In [49]:
pranoy$university

[1] "Amity"

In [51]:
pranoy$enrolled

[1] TRUE

In [53]:
pranoy[['major']]

[1] "Data Science"

In [55]:
values <- unlist(pranoy)
values

            id           name          major     university       enrolled
       "12345"       "Pranoy" "Data Science"        "Amity"         "TRUE"

In [57]:
courses.list <- list('ids'=list(101:107),
                'courses'=list('R', 'Python', 'Java', 'C++'))
courses.list

$ids
$ids[[1]]
[1] 101 102 103 104 105 106 107


$courses
$courses[[1]]
[1] "R"

$courses[[2]]
[1] "Python"

$courses[[3]]
[1] "Java"

$courses[[4]]
[1] "C++"

In [59]:
courses.list$available <- list(TRUE, TRUE, FALSE, TRUE)
courses.list

$ids
$ids[[1]]
[1] 101 102 103 104 105 106 107


$courses
$courses[[1]]
[1] "R"

$courses[[2]]
[1] "Python"

$courses[[3]]
[1] "Java"

$courses[[4]]
[1] "C++"


$available
$available[[1]]
[1] TRUE

$available[[2]]
[1] TRUE

$available[[3]]
[1] FALSE

$available[[4]]
[1] TRUE

In [61]:
some.list <- list(1:6)
some.list

[[1]]
[1] 1 2 3 4 5 6

In [63]:
is.atomic(some.list)

[1] FALSE

In [65]:
is.recursive(some.list)

[1] TRUE

In [67]:
re = list("nested" = list(1,2,3,4,5,6))

In [69]:
re

$nested
$nested[[1]]
[1] 1

$nested[[2]]
[1] 2

$nested[[3]]
[1] 3

$nested[[4]]
[1] 4

$nested[[5]]
[1] 5

$nested[[6]]
[1] 6

In [85]:
lst = list(2,3,5,6,7,8,1,4)

In [87]:
lst[[2:4]]

ERROR: Error in lst[[2:4]]: recursive indexing failed at level 2

In [89]:
num = matrix(c(10,20,30,40), ncol=2)
num

     [,1] [,2]
[1,] 10   30
[2,] 20   40

In [91]:
dim(num) <- c(1,4)

In [93]:
num

     [,1] [,2] [,3] [,4]
[1,] 10   20   30   40