In [1]:
a <- "Strings are usually specified using a double quotes"
a

[1] "Strings are usually specified using a double quotes"

In [3]:
b <- 'Use single quotes to enclose a "double quotes"'
b

[1] "Use single quotes to enclose a \"double quotes\""

In [5]:
a[3:4] #doesnot work like python

[1] NA NA

In [7]:
class(a)

[1] "character"

In [9]:
first.name <- 'Harry'
last.name <- 'Potter'

In [11]:
first.name + last.name

ERROR: Error in first.name + last.name: non-numeric argument to binary operator

In [13]:
cat(first.name, last.name)

Harry Potter

In [15]:
length(first.name)

[1] 1

In [17]:
nchar(first.name)

[1] 5

In [19]:
cat('abc', c('xyz', 'qwe'))

abc xyz qwe

In [21]:
paste('abc', c('xyz', 'qwe'))

[1] "abc xyz" "abc qwe"

In [25]:
paste('abc', c('xyz', 'qwe'), sep='**')

[1] "abc**xyz" "abc**qwe"

In [29]:
wl <- 'Welcome to World of R Programming'
wl

[1] "Welcome to World of R Programming"

In [31]:
tolower(wl)

[1] "welcome to world of r programming"

In [33]:
toupper(wl)

[1] "WELCOME TO WORLD OF R PROGRAMMING"

In [35]:
substring(wl, 1, 7)

[1] "Welcome"

In [37]:
substring(wl, 9)

[1] "to World of R Programming"

In [41]:
strsplit(wl, " ")

[[1]]
[1] "Welcome"     "to"          "World"       "of"          "R"
[6] "Programming"

In [43]:
s <- 10:15
s

[1] 10 11 12 13 14 15

In [45]:
s2 <- sqrt(s)
s2

[1] 3.162278 3.316625 3.464102 3.605551 3.741657 3.872983

In [49]:
formatC(s2)

[1] "3.162" "3.317" "3.464" "3.606" "3.742" "3.873"

In [63]:
formatC(s2, digits = 4)

[1] "3.162" "3.317" "3.464" "3.606" "3.742" "3.873"

In [65]:
formatC(s2, digits = 3) #rounding to significant digit

[1] "3.16" "3.32" "3.46" "3.61" "3.74" "3.87"

In [67]:
formatC(s2, digits = 3, width=8)

[1] "    3.16" "    3.32" "    3.46" "    3.61" "    3.74" "    3.87"

In [69]:
formatC(s2, digits = 3, format='e')

[1] "3.162e+00" "3.317e+00" "3.464e+00" "3.606e+00" "3.742e+00" "3.873e+00"

In [77]:
sprintf("%s %d %s %f", 'Number:', s, 'Sqaure root:', s2) #vector recycling

[1] "Number: 10 Sqaure root: 3.162278" "Number: 11 Sqaure root: 3.316625"
[3] "Number: 12 Sqaure root: 3.464102" "Number: 13 Sqaure root: 3.605551"
[5] "Number: 14 Sqaure root: 3.741657" "Number: 15 Sqaure root: 3.872983"

In [79]:
sprintf("%s %d %s %.3f", 'Number:', s, 'Sqaure root:', s2)

[1] "Number: 10 Sqaure root: 3.162" "Number: 11 Sqaure root: 3.317"
[3] "Number: 12 Sqaure root: 3.464" "Number: 13 Sqaure root: 3.606"
[5] "Number: 14 Sqaure root: 3.742" "Number: 15 Sqaure root: 3.873"

In [81]:
sprintf("%s %d %s %e", 'Number:', s, 'Sqaure root:', s2)

[1] "Number: 10 Sqaure root: 3.162278e+00"
[2] "Number: 11 Sqaure root: 3.316625e+00"
[3] "Number: 12 Sqaure root: 3.464102e+00"
[4] "Number: 13 Sqaure root: 3.605551e+00"
[5] "Number: 14 Sqaure root: 3.741657e+00"
[6] "Number: 15 Sqaure root: 3.872983e+00"

In [93]:
num = data.frame(c1=c(1,2,3), c2=c(4,5,6), c3=c(7,8,9))
num

  c1 c2 c3
1 1  4  7
2 2  5  8
3 3  6  9

In [95]:
num[num$c3==8,]

  c1 c2 c3
2 2  5  8

In [97]:
num[,num$c3==8]

[1] 4 5 6

In [103]:
num[[0]]

ERROR: Error in .subset2(x, i, exact = exact): attempt to select less than one element in get1index <real>

In [105]:
df=data.frame(id=123)

In [107]:
df

  id
1 123