In [1]:
students <- c('Max', 'Sean', 'Oliver', 'Jane', 'Julie', 'Deborah')
students

[1] "Max"     "Sean"    "Oliver"  "Jane"    "Julie"   "Deborah"

In [3]:
students[]

[1] "Max"     "Sean"    "Oliver"  "Jane"    "Julie"   "Deborah"

In [5]:
students[1]

[1] "Max"

In [7]:
students[1:2]

[1] "Max"  "Sean"

In [17]:
students[0]

character(0)

In [19]:
students[2]

[1] "Sean"

In [21]:
students[7]

[1] NA

In [23]:
students[2:5]

[1] "Sean"   "Oliver" "Jane"   "Julie"

In [27]:
students[0:7]

[1] "Max"     "Sean"    "Oliver"  "Jane"    "Julie"   "Deborah" NA

In [29]:
students[-1]

[1] "Sean"    "Oliver"  "Jane"    "Julie"   "Deborah"

In [31]:
students[c(1, 3)]

[1] "Max"    "Oliver"

In [33]:
students[c(-1, -3)]

[1] "Sean"    "Jane"    "Julie"   "Deborah"

In [35]:
students[c(TRUE, FALSE, TRUE, TRUE, FALSE, FALSE)]

[1] "Max"    "Oliver" "Jane"

In [37]:
students[c(1.4, 3.6)]

[1] "Max"    "Oliver"

In [39]:
animals <- c('dog', 'cat', 'lion', 'tiger')
animals

[1] "dog"   "cat"   "lion"  "tiger"

In [41]:
animals[2] <- 'horse'
animals

[1] "dog"   "horse" "lion"  "tiger"

In [43]:
animals[c(4,5)] <- c('bear', 'wolf')
animals

[1] "dog"   "horse" "lion"  "bear"  "wolf"

In [45]:
animals <- c(animals[1:5], 'squirrel')
animals

[1] "dog"      "horse"    "lion"     "bear"     "wolf"     "squirrel"

In [47]:
animals <- c(animals[1:4], 'goat', animals[5:6])
animals

[1] "dog"      "horse"    "lion"     "bear"     "goat"     "wolf"     "squirrel"