In [1]:
fruit.quantities <- c(10, 3, 5, 6)
fruit.quantities

[1] 10  3  5  6

In [5]:
fruit.quantities <- c(bananas = 10, apples = 5, "oranges" = 7)
fruit.quantities

bananas  apples oranges
     10       5       7

In [9]:
fruit.quantities <- c(bananas = 10, apples = 5, "oranges" = 7, kiwi = 6)
fruit.quantities

bananas  apples oranges    kiwi
     10       5       7       6

In [11]:
names(fruit.quantities)

[1] "bananas" "apples"  "oranges" "kiwi"

In [13]:
fruit.quantities[1]

bananas
     10

In [15]:
fruit.quantities[1:3]

bananas  apples oranges
     10       5       7

In [19]:
fruit.quantities['kiwi']

kiwi
   6

In [21]:
fruit.quantities['']

<NA>
  NA

In [31]:
car.prices <- c(30000, 60000, 80000, 85000, 105000)
car.prices

[1]  30000  60000  80000  85000 105000

In [37]:
car.names <- c('Honda', 'Audi', 'BMW', 'Tesla', 'Porsche')
car.names

[1] "Honda"   "Audi"    "BMW"     "Tesla"   "Porsche"

In [39]:
names(car.prices) <- car.names
car.prices

  Honda    Audi     BMW   Tesla Porsche
  30000   60000   80000   85000  105000

In [41]:
names(car.prices)

[1] "Honda"   "Audi"    "BMW"     "Tesla"   "Porsche"

In [75]:
vector.1 <- c(1,2,3,4,5,6)
vector.2 <- c(10,20,30,40,50,60)

In [77]:
vector.3 <- vector.1 + vector.2
vector.3

[1] 11 22 33 44 55 66

In [79]:
vector.1 + 1.6

[1] 2.6 3.6 4.6 5.6 6.6 7.6

In [81]:
vector.2 + 1:2

[1] 11 22 31 42 51 62

In [83]:
vector.2 + 1:3

[1] 11 22 33 41 52 63

In [86]:
vector.2 + 1:4

Warning message in vector.2 + 1:4:
"longer object length is not a multiple of shorter object length"

[1] 11 22 33 44 51 62